Terkadang data bervariatif dan kita ingin membuatnya menjadi seragam

In [20]:
def transform_value(row, mapping, column_name):
    data = row[column_name]
    value = None
    try:
        for map_ in mapping:
            if data in map_['from']:
                value = map_['to']

    except Exception as e:
        value = data
    
    if not value:
        value = data
    return value

In [27]:
mapping = [
            {
                    'from': ['L', 'laki-laki', 'l', 'Laki-laki'],
                    'to': 'laki-laki'
            },
            {
                    'from': ['P', 'perempuan',
                             'p', 'Perempuan'],
                    'to': 'perempuan'
            }]

In [28]:
import pandas as pd
import dask.dataframe as dd

In [29]:
df = pd.DataFrame()
df['gender'] = ['L', 'Laki-laki', 'laki-laki', 'l', 'laki', 'X'
                'p', 'P', 'Perempuan', 'P', 'perempuan']
df = dd.from_pandas(df, npartitions=1)
df.head(10)

      gender
0          L
1  Laki-laki
2  laki-laki
3          l
4       laki
5         Xp
6          P
7  Perempuan
8          P
9  perempuan

In [30]:
column_name = 'gender'

df['new_col'] = df.apply(
    transform_value, args = [mapping, column_name], axis=1, meta=str)
df.head(10)

      gender    new_col
0          L  laki-laki
1  Laki-laki  laki-laki
2  laki-laki  laki-laki
3          l  laki-laki
4       laki       laki
5         Xp         Xp
6          P  perempuan
7  Perempuan  perempuan
8          P  perempuan
9  perempuan  perempuan