Membuat dataframe Dask dari dataframe Pandas

In [1]:
import dask.dataframe as dd
import pandas as pd

Dataframe Pandas

In [3]:
df = pd.DataFrame()
df['col_1'] = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
df['col_2'] = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
df['col_3'] = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
df['col_4'] = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
df['col_5'] = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
df.head()

   col_1  col_2  col_3  col_4  col_5
0      1      1      1      1      1
1      2      2      2      2      2
2      3      3      3      3      3
3      4      4      4      4      4
4      5      5      5      5      5

In [5]:
type(df)

pandas.core.frame.DataFrame

Dataframe Dask

In [4]:
ddf = dd.from_pandas(df, npartitions=3)
ddf.head()

/Users/thomas/miniconda3/lib/python3.6/site-packages/dask/dataframe/core.py:5739: UserWarning: Insufficient elements for `head`. 5 elements requested, only 4 elements available. Try passing larger `npartitions` to `head`.
  warnings.warn(msg.format(n, len(r)))

   col_1  col_2  col_3  col_4  col_5
0      1      1      1      1      1
1      2      2      2      2      2
2      3      3      3      3      3
3      4      4      4      4      4

In [6]:
type(df)

pandas.core.frame.DataFrame