Mengambil data satu kolom dan diubah menjadi list (daftar)

In [1]:
# Dataframe contoh
import dask.dataframe as dd
import pandas as pd

# Pandas
pdf = pd.DataFrame()
pdf['col_1'] = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
pdf['col_2'] = [10, 20, 30, 40, 50, 60, 70, 80, 90, 100]
pdf['col_3'] = [11, 12, 13, 14, 15, 16, 17, 18, 19, 110]
pdf['col_4'] = [11, 21, 31, 41, 51, 61, 71, 81, 91, 101]
pdf['col_5'] = [.1, .2, .3, .4, .5, .6, .7, .8, .9, .10]
pdf.head()

   col_1  col_2  col_3  col_4  col_5
0      1     10     11     11    0.1
1      2     20     12     21    0.2
2      3     30     13     31    0.3
3      4     40     14     41    0.4
4      5     50     15     51    0.5

In [2]:
col_4 = list(pdf['col_4'])
col_4

[11, 21, 31, 41, 51, 61, 71, 81, 91, 101]

In [3]:
type(col_4)

list

In [7]:
# Dask
ddf = dd.from_pandas(pdf, npartitions=2)
ddf.head()

   col_1  col_2  col_3  col_4  col_5
0      1     10     11     11    0.1
1      2     20     12     21    0.2
2      3     30     13     31    0.3
3      4     40     14     41    0.4
4      5     50     15     51    0.5

In [8]:
col_5 = list(ddf['col_5'])
col_5

[0.1, 0.2, 0.3, 0.4, 0.5, 0.6, 0.7, 0.8, 0.9, 0.1]

In [9]:
type(col_5)

list