In [3]:
# Dataframe contoh
import dask.dataframe as dd
import pandas as pd

# Contoh tabel (dataframe) Pandas
pdf = pd.DataFrame()
pdf['col_1'] = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
pdf['col_2'] = ['10', '20', '30', '40', '50', '60', '70', '80', '90', '100']
pdf['col_3'] = [11.0, 12.0, 13.0, 14.0, 15.0, 16.0, 17.0, 18.0, 19.0, 110.0]
pdf['col_4'] = [11, 21, 31, 41, 51, 61, 71, 81, 91, 101]
pdf['col_5'] = [.1, .2, .3, .4, .5, .6, .7, .8, .9, .10]
pdf.head()

   col_1 col_2  col_3  col_4  col_5
0      1    10   11.0     11    0.1
1      2    20   12.0     21    0.2
2      3    30   13.0     31    0.3
3      4    40   14.0     41    0.4
4      5    50   15.0     51    0.5

Mengubah tipe data satu kolom dalam dataframe

In [5]:
# Cek tipe data
pdf.dtypes

col_1      int64
col_2     object
col_3    float64
col_4      int64
col_5    float64
dtype: object

In [6]:
# Mengubah col_1 menjadi float
pdf['col_1'] = pdf['col_1'].astype(float)
pdf.dtypes

col_1    float64
col_2     object
col_3    float64
col_4      int64
col_5    float64
dtype: object

In [7]:
pdf.head()

   col_1 col_2  col_3  col_4  col_5
0    1.0    10   11.0     11    0.1
1    2.0    20   12.0     21    0.2
2    3.0    30   13.0     31    0.3
3    4.0    40   14.0     41    0.4
4    5.0    50   15.0     51    0.5

In [12]:
# Mengubah col_1 menjadi integer
pdf['col_1'] = pdf['col_1'].astype(int)
print("tipe:\n", pdf.dtypes)
pdf.head()

tipe:
 col_1      int64
col_2     object
col_3    float64
col_4      int64
col_5    float64
dtype: object

   col_1 col_2  col_3  col_4  col_5
0      1    10   11.0     11    0.1
1      2    20   12.0     21    0.2
2      3    30   13.0     31    0.3
3      4    40   14.0     41    0.4
4      5    50   15.0     51    0.5

In [15]:
# Mengubah col_1 menjadi string
pdf['col_1'] = pdf['col_1'].astype(str)
print("tipe:\n", pdf.dtypes)
pdf.head()

tipe:
 col_1     object
col_2     object
col_3    float64
col_4      int64
col_5    float64
dtype: object

  col_1 col_2  col_3  col_4  col_5
0     1    10   11.0     11    0.1
1     2    20   12.0     21    0.2
2     3    30   13.0     31    0.3
3     4    40   14.0     41    0.4
4     5    50   15.0     51    0.5

Tipe data string dalam hal ini object

In [4]:
# Contoh tabel(dataframe) Dask
ddf = dd.from_pandas(pdf, npartitions=2)
ddf.head()

   col_1 col_2  col_3  col_4  col_5
0      1    10   11.0     11    0.1
1      2    20   12.0     21    0.2
2      3    30   13.0     31    0.3
3      4    40   14.0     41    0.4
4      5    50   15.0     51    0.5

Mengubah tipe data satu kolom dalam tabel Dask sama seperti pandas di atas,