In [1]:
import pandas as pd
import dask.dataframe as dd

In [2]:
pdf = pd.DataFrame()
pdf['a'] = [1, 2, 3, 4, 5]
pdf['b'] = [1, 2, 3, 4, 5]
pdf['c'] = [1, 2, 3, 4, 5]
pdf['d'] = [1, 2, 3, 4, 5]
pdf.head()

   a  b  c  d
0  1  1  1  1
1  2  2  2  2
2  3  3  3  3
3  4  4  4  4
4  5  5  5  5

In [7]:
pdf = pdf.rename(columns={'a': 'A', 'b': 'B', 'c': 'C', 'd': 'D'})
pdf

   A  B  C  D
0  1  1  1  1
1  2  2  2  2
2  3  3  3  3
3  4  4  4  4
4  5  5  5  5

In [9]:
pdf.columns = ['a', 'b', 'c', 'd']
pdf

   a  b  c  d
0  1  1  1  1
1  2  2  2  2
2  3  3  3  3
3  4  4  4  4
4  5  5  5  5

Dask

In [10]:
ddf = dd.from_pandas(pdf, npartitions=2)
ddf.head()

/Users/thomas/miniconda3/lib/python3.6/site-packages/dask/dataframe/core.py:5739: UserWarning: Insufficient elements for `head`. 5 elements requested, only 3 elements available. Try passing larger `npartitions` to `head`.
  warnings.warn(msg.format(n, len(r)))

   a  b  c  d
0  1  1  1  1
1  2  2  2  2
2  3  3  3  3

In [14]:
ddf = ddf.rename(columns={'a': 'A', 'b': 'B', 'c': 'C', 'd': 'D'})
ddf.head()

/Users/thomas/miniconda3/lib/python3.6/site-packages/dask/dataframe/core.py:5739: UserWarning: Insufficient elements for `head`. 5 elements requested, only 3 elements available. Try passing larger `npartitions` to `head`.
  warnings.warn(msg.format(n, len(r)))

   A  B  C  D
0  1  1  1  1
1  2  2  2  2
2  3  3  3  3

In [15]:
ddf.columns = ['a', 'b', 'c', 'd']
ddf.head()

/Users/thomas/miniconda3/lib/python3.6/site-packages/dask/dataframe/core.py:5739: UserWarning: Insufficient elements for `head`. 5 elements requested, only 3 elements available. Try passing larger `npartitions` to `head`.
  warnings.warn(msg.format(n, len(r)))

   a  b  c  d
0  1  1  1  1
1  2  2  2  2
2  3  3  3  3